{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles_h.css')}}">
{% endblock %}

{% block body %}

<div class="into-data section-h">
    <div class="grid-2">
        <div class="g">
            <p class="large">Create shorten links that collects clicking information for you.</p>
            <p class="small"><strong>No sign up required. It's free.</strong></p>
            <div class="ul-li">
                <p class="heading"><b>What you can do</b></p>
                <ul>
                    <li>Track clicks</li>
                    <li>Devices, Browsers, OS data</li>
                    <li>Referring sites data</li>
                    <li>Clicks from the countries</li>
                    <li>Past 24 hours clicks chart</li>
                    <li>Last 7 days clicks chart</li>
                </ul>
            </div>
            <a href="{{ url_for('Home.shorten_url') }}" class="button">Create shorten url</a>
        </div>
        <div class="g g-img-container">
            <img src="{{ url_for('static', filename='images/track_page_image.png') }}" alt="Tracking shorten url dashboard" >
            <p class="alt">Shorten link tracking dashboard</p>
        </div>
    </div>
</div>

{% endblock %}