.large {
    font-size: 2rem;
    margin: 20.5px 0px;
}
.mid {
    font-size: 1.70rem;
    padding: 15.5px 0px;
}
.small {
    font-size: 1.20rem;
    margin: 20px 0px;
    line-height: 30px;
}

.section-h {
    margin: 20px 0px;
    padding: 10px 1px;
    border-bottom: 1px solid var(--carding-fg);
}

.section-h:first-of-type {
    margin-top: 0px;
    padding-bottom: 20px;
}

.section-h:last-of-type {
    border-bottom: 0px solid var(--carding-fg);
    margin-bottom: 35px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 55% 45%;
}

.grid-2 .g {
    padding: 20px 0px;
}

.grid-2 .g-img-container img{
    width: 100%;
    max-width: 100%;
}

.grid-2 .g-img-container p.alt {
    font-size: 15px;
    opacity: .75;
    text-align: center;
}

.grid-2 .g .ul-li {
    line-height: 35px;
    margin: 40px 0px;
}
.grid-2 .g .ul-li .heading {
    font-size: 20px;
    margin: 0px;
}

.grid-2 .g .ul-li ul {
    font-size: 18px;
    list-style: square;
}

.img-svg-side {
    display: grid;
    grid-template-columns: 25% 25%;
    align-items: center;
    justify-content: center;
    padding: 25px !important;
}

.img-svg-side svg {
    width: 40px;
    height: 40px;
    padding: 15px;
}

@media (max-width:1100px) {
    .grid-2 {
        grid-template-columns: 50% 50%;
    }
}

.n-1 {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-1 .button {
    font-size: 22px;
    margin: 15px 5px;
}

.n-1 .button:hover {
    filter: brightness(130%) drop-shadow(0px 5px 1mm var(--carding-fg));
}

@media (max-width:900px) {
    .grid-2 {
        display: flex;
    }

    .grid-2 .g-img-container {
        display: none;
    }
}