{% extends "admin/base.html" %}

{% block body %}
<h2>Admin sessions</h2>
<div>
    <table class="table1">
        <tbody>
            <tr>
                <th width="33.33%">Current page</th>
                <th width="33.33%">Pages</th>
                <th width="33.33%">Jump to</th>
            </tr>
            <tr>
                <td>{{paginate.page}}</td>
                <td>{{paginate.pages}}</td>
                <td>
                    <select onchange="window.location = this.value">
                        {% for page in page_range %}
                        {% if paginate.page == page %}
                        <option value="{{url_for('Admin.links',page=page)}}" selected>{{page}}</option>
                        {% else %}
                        <option value="{{url_for('Admin.links',page=page)}}">{{page}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="overflow: auto;">
    <table class="table1">
        <tbody>
            <tr>
                <th>IP address</th>
                <th>Country</th>
                <th>Date</th>
                <th>Expiry</th>
                <th>Allowed</th>
            </tr>
            {% for session in paginate %}
            <tr>
                <td>{{session.ipaddress}}</td>
                <td>{{country_codes.get(session.country,"Other")}}</td>
                <td>{{session.created_date.strftime('%d-%m-%Y %H:%M UTC')}}</td>
                <td>{{(session.created_date+max_admin_session_time).strftime('%d-%m-%Y %H:%M UTC')}}</td>
                <td>
                    <form action="{{ url_for('Admin.admin_sessions',page=paginate.page) }}" method="post">
                        <input type="hidden" name="session-id" value="{{session.session_id}}" />
                        <select name="to">
                            <option value="yes" {{ 'selected' if session.allowed }}>Yes</option>
                            <option value="no" {{ 'selected' if session.allowed is not true}}>No</option>
                        </select>
                        &nbsp;
                        <button type="submit" style="cursor: pointer;">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
</div>
{% endblock %}