{% extends "admin/base.html" %}

{% block body %}
<form action="{{ url_for('Admin.settings') }}" method="post" class="form1">
    <h2>Settings</h2>
    {{form.hidden_tag()}}
    <div class="label">
        {{form.name.label()}}
        {{form.name(placeholder="Your name")}}
    </div>
    <div class="label">
        {{form.email_address.label()}}
        {{form.email_address(placeholder="Email address")}}
    </div>
    <div class="label">
        {{form.new_password.label()}}
        {{form.new_password(placeholder="New Password")}}
    </div>
    <button type="submit">Update settings</button>
</form>
{% endblock %}